<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="UserLifeCycle" parallel="none">
    <listeners>
        <listener class-name="listeners.TestListener"/>
    </listeners>
    <test name="UserLifeCycle">
        <classes>
<!--            <class name = "tests.user.LoginTest"/>-->
<!--            <class name = "tests.AdminTests"/>-->
            <class name="tests.user.UserLifeCycleTest"/>
        </classes>
    </test>
</suite>